h1{
    text-align: center;
}


/*Relatif au menu de navigation*/
#menu{
	float: left;
    position: relative;
}
#navigation{
    width: 200px;
    list-style: none;
    margin: 0;
    padding: 0;	
}

#navigation li{
    background: gray;
    color: #fff;
	font-size: 20px;
    text-align: center;
    text-decoration: none;
    border: 1px solid darkslategray;
    margin-bottom: 1px;
}

#navigation li:hover{
    background: #900;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border: 1px solid darkslategray;
    margin-bottom: 1px;
}
/*Carte*/
#cy{  
    width: 100%;
    height: 100%;
    position: absolute;
    left: 300px;
}
#carte{
    margin-left: 245px;
    margin-right: 245px;
    width: 75%;
    height: 750px;
    border: 1px solid red;
}