<!DOCTYPE html>
<html>
<head>
    <title>La république des Castors</title>
    <meta charset="UTF-8">
    <link href="/stylesheets/style.css" rel="stylesheet" />
</head>
<body>
    <h1>La république des Castors</h1>
    <div id="menu">
        <ul class="onglets">
            <li class="onglet transport actif">Salle des transport</li>
            <li class="onglet finance">Salle des finances</li>
            <li class="onglet riviere">Salle des rivières</li>
        </ul>
        <div id="action">
            <input id="btn-passer" type="button" value="Jour Suivant">
        </div>
    </div>
    <div id="cy">
    </div>
    <!--Mettre les scripts en dessous-->
    <script src="/javascripts/controleur.js"></script>
    <script src="/javascripts/cytoscape.js"></script>
    <script src="/javascripts/cytoscape.min.js"></script>
    <script src="/javascripts/jquery-3.1.1.min.js"></script>
    <script src="/javascripts/main.js"></script>
    <script src="/javascripts/Vue/VuePrincipale.js"></script>
    <script src="/javascripts/Vue/VueProbleme.js"></script>
    <script src="/javascripts/Probleme/ProblemeTransport.js"></script>
    <script src="/javascripts/Probleme/arrete.js"></script>
    <script src="/javascripts/Probleme/graphe.js"></script>
    <script src="/javascripts/Probleme/sommet.js"></script>
    <script src="/javascripts/Modele/Batiment.js"></script>
    <script src="/javascripts/Modele/Nourriture.js"></script>
    <script src="/javascripts/Modele/Population.js"></script>
    <script src="/javascripts/Modele/Ville.js"></script>

    <!--Mettre les fichiers JSON en dessous-->
    <script type="text/javascript" src="/public/JSON/Configuration1.json"></script>
    
</body>
</html>